:root{
  --mainColour: #5cdb94;
  --secondaryColour:#083769;
}

*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color:#126fac;
}

a:hover{
  color:#13489c
}

body,html{
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  margin:0;
  padding:0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: rgb(228, 228, 228);
}

/* Landing Page */

#landing-page{
  width:100vw;
  height:100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--mainColour);
  position:relative;
  box-shadow: inset 0px 0px 47px -15px rgba(64,64,64,0.4);
}

#landing-page .title{
  border: 1px var(--secondaryColour) solid;
  padding:30px;
  position:relative;
  box-shadow: -40px -40px 1px  var(--secondaryColour);
}

/* Circles */
.corner{
  width:14px;
  height:14px;
  border-radius: 50%;
  border: 1.5px solid white;
  background-color: var(--mainColour);
  position:absolute;
}

#corner-tl{
  top:-7px;
  left:-7px;
  background-color: var(--secondaryColour);
}
#corner-tr{
  top:-7px;
  right:-7px;
}
#corner-br{
  bottom:-7px;
  right:-7px;
}
#corner-bl{
  bottom:-7px;
  left:-7px;
}

/* Landing page content */

#landing-page h1 {
  color:#eaf5df;
  font-size: 3.5rem;
  margin:0;
}

#landing-page h2{
  color: var(--secondaryColour);
  margin:5px 0  25px 0 ;
  text-align: center;
}

a.continue-btn{
  color:var(--secondaryColour);
  position:absolute;
  top:86%;
  font-size: 50px;
  overflow:hidden;

  transition: all 0.4s ease-in-out
}


a.continue-btn:hover{
  font-size: 55px;
  opacity:0.8;
}

a.continue-btn-2{
  color:black;
  margin-top:10px;
  font-size: 50px;
  overflow:hidden;

  transition: all 0.4s ease-in-out

}

a.continue-btn-2:hover{
  font-size: 55px;
  opacity:0.8;
}

a.back-btn{
  color:black;
  font-size: 50px;
  overflow:hidden;

  transition: all 0.4s ease-in-out
}


a.back-btn:hover{
  font-size: 55px;
  opacity:0.8;
}

/* Palette Set one */

.palette-container{
  height:100vh;
  width:80%;
  margin:auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding:20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.colour-palettes{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  gap:20px;
  min-width:100%;
  overflow:hidden;
}

.colour-palette{
  text-align: left;
  overflow:hidden;
}

.colours{
  display:grid;
  grid-template-columns: repeat(5,1fr);
}

.colour{
  background-color: grey;
  overflow:hidden;
  padding: 15px 25px 25px 15px;
}

span{
  color:#d8d8d8;
}

footer img{
  width:50px;
  margin:0;
  padding:0;
}

footer h3{
  margin:0;
  padding:0;
}

footer{
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: #b1b1b1;
}

footer{
  text-align: center;
  box-shadow: inset 0px 0px 47px -15px rgba(64,64,64,0.4);;
}

footer h1{
  color:#1a1a1a
}

.contact-options{
  padding:0 0 40px 0 ;
}

.contact-options h3{
  margin: 8px 0;
  color:#1a1a1a;
}

span.important{
  color:black;
  font-size: 1.2rem;
  font-weight: bold;
}



/* Media Queries */

@media(max-width:1080px){
  .palette-container{
    height:160vh;
  }

  .colour-palettes{
    grid-template-columns: 1fr;
  }
  
}

@media(max-width:710px){
  
#landing-page h1 {
  font-size: 2.5rem;
}

#landing-page h2{
  font-size: 1.2rem;
}
}

@media(max-width:560px){
  .palette-container{
    width:100%;
    margin:auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding:20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
  }

  #landing-page h1 {
    font-size: 2rem;
  }
  
  #landing-page h2{
    font-size: 1rem;
  }

  .colour{
    padding: 15px 25px 25px 5px;
  }
}

